name: Build and Deploy the Web API to Azure Container App

on:
  push:
    branches:
      - master

jobs:
  Build-and-deploy:
    runs-on: ubuntu-latest
    outputs: 
        sha: ${{ steps.commit_sha.outputs.sha }}
    steps:
      - name: Checkout Repository
        id: github_repo_checkout
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0

      - name: Configuring Azure Container Registry
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Getting the SHA of the commit
        id: commit_sha
        run: |
          calculatedSHA=$(git rev-parse --short ${{ github.sha }})
          echo "sha=$calculatedSHA" >> $GITHUB_OUTPUT

      - name: Build and Deploy Docker Image To ACR
        env:
          ACR_REGISTRY: ${{ secrets.ACR_SERVER }}
          IMAGE_TAG: ${{ steps.commit_sha.outputs.sha }}
        run: |
          docker build -f FormulaOne.Dockerfile \
            -t $ACR_REGISTRY/formulaoneapp:$IMAGE_TAG \
            -t $ACR_REGISTRY/formulaoneapp:latest .
          docker push $ACR_REGISTRY/formulaoneapp:$IMAGE_TAG
          docker push $ACR_REGISTRY/formulaoneapp:latest

  Deploy-container-to-ACS:
    runs-on: ubuntu-latest
    needs: Build-and-deploy
    steps:
        - name: Login To Azure
          uses: azure/login@v2
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: Deploy To Container App
          uses: azure/container-apps-deploy-action@v1
          env:
            IMAGE_TAG: ${{ needs.Build-and-deploy.outputs.sha }}
            ACR_REGISTRY: ${{ secrets.ACR_SERVER }}
            CONNECTION_STRING: ${{ secrets.CONNECTION_STRING }}
          with:
              registryUrl: $ACR_SERVER
              imageToDeploy: $ACR_REGISTRY/formulaoneapp:$IMAGE_TAG
              targetPort: 8080
              ingress: external
              containerAppName: appdev-ca-dev-cu-formulaone
              containerAppEnvironment: appdev-cae-dev-cu-formulaone
              resourceGroup: appdev-rg-dev-cu-formulaone
              environmentVariables: |
                ASPNETCORE_ENVIRONMENT=Development ASPNETCORE_URLS=http://+:8080 
                ConnectionStrings__DefaultConnectionMsSql=$CONNECTION_STRING
