name: Deploy Infrastructure to Azure

on:
  push:
    branches:
      - master

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest
    env: 
       ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
       ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
       ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
       ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
       TF_VERSION: 1.13.4
       
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
            lfs: true

      - name: Login To Azure
        uses: azure/login@v2
        with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
            terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        run: terraform init
        working-directory: ./iac/

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./iac/
      
      - name: Terraform Plan
        run: terraform plan -out=my-terraform-plan
        working-directory: ./iac/

      - name: Terraform Apply
        run: terraform apply -auto-appprove my-terraform-plan
        working-directory: ./iac/